we can print something in python using single and double qutation.

In [1]:
print('my name is nazrin')

my name is nazrin

In [2]:
print("Hello World")

Hello World

Print hello and world in different ilne.

In [3]:
print("Hello")
print("World")

Hello
World

In [4]:
# we can do it using one print function

print("Hello\nWorld")

Hello
World

'\n' is called newline. It works as enter button.

In [5]:
# we can do it using one print function

print("Hello\n\nWorld")

Hello

World

use of comma in print

In [6]:
print("Hello","World")

Hello World

if we print more than one string separated by comma then it takes a space between two string

H.W. print 5 string using one print function where first 3 string are in the first line and another two are in the second line and therir is a space between two string

In [3]:
print("today is monday\n\nbright sunyday")

today is monday

bright sunyday

using of seperate function

In [7]:
print("hello","world",sep=',')

hello,world

In [8]:
print("hello","world",sep='+')

hello+world

In [9]:
print("hello","world",sep='  ')

hello  world

In [10]:
print("hello","world",sep='\n')

hello
world

the string are separated by the sign inside the single qutation

print single qutation in a string

problem:  this is Moon's Notebook

In [11]:
print('This is Moon's Notebook')

SyntaxError: invalid syntax (<ipython-input-11-0f12dc1ecae3>, line 1)

In [12]:
#solution 
print("This is Moon's Notebook")
print('This is Moon\'s Notebook')

This is Moon's Notebook
This is Moon's Notebook

H.W
1. print He is a "programmer"

2. print the same line using double qutation

3. print "i can read 'book' and 'facebook' in my phone"

In [11]:
print('He is a "programmer"')

He is a "programmer"

In [21]:
print('"He is a\"programmer""')

"He is a"programmer""

In [3]:
print('''"I can read'book'and'facebook'in my phone"''')

"I can read'book'and'facebook'in my phone"

#### End function

In [13]:
print(5,6)

5 6

In [14]:
print(5)
print(6)

5
6

print function print a newline after it's execution. we can remove or control this using end function

In [15]:
print(5,end=' ')
print(6)

5 6

H.W.
print your first name last name and nick name using three print function but they show in one line and separates by space.

In [3]:
print('first name',end=' ')
print('last name',end=' and ')
print('nick name')

first name last name and nick name

## Format function

a=5
b=6
the sum of 5 and 6 is 11

In [1]:
a = 5
b = 6
print("The sum of ",a,"and",b,"is", a+b)

The sum of  5 and 6 is 11

In [2]:
# we can easily do it using format 
a = 5
b = 6
sum = a + b

print("The sum of {0} and {1} is {2}".format(a,b,sum))

The sum of 5 and 6 is 11

H.W. 
print Mr. X has 300  and he spend 100  and remaining is 200.

where you should take the number in a variable and also print the variable not the number directly.

In [4]:
a = 300
b = 100
sum = a - b
print("Mr. X has {0} and he spend {1} and remaining is {2}".format(a,b,sum) )

Mr. X has 300 and he spend 100 and remaining is 200

#### % sign

In [3]:
a = 5
b = 7
sum = a + b

print("The sum of %d and %d is %d"%(a,b,sum))

The sum of 5 and 7 is 12

In [5]:
a = 300
b = 100
sum = a - b
print('Mr. X has %d and he spend %d and remaining is %d'%(a,b,sum))

Mr. X has 300 and he spend 100 and remaining is 200