# For Loop

In fro loop all the part are inside for

We use range function to control the condition

In [2]:
# print your name 10 times

for i in range(10):
    print(i,"Borna")

0 Borna
1 Borna
2 Borna
3 Borna
4 Borna
5 Borna
6 Borna
7 Borna
8 Borna
9 Borna

in for loop i start from 0 and print before n and increment/decrement by 1 by default

In [3]:
# print 1 to n using for looop
n=10
for i  in range(n):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [4]:
# if we need to start from 1
n = 10
for i in range(1,n):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9

In [5]:
# if we want to print exact n

n = 10
for i in range(1,n+1):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [6]:
# if we want to increment by 2/3

n = 10
for i in range(1,n+1,2):
    print(i,end=' ')

1 3 5 7 9

In [9]:
# print n to 1 using for loop
n = 5
for i in range(n,0,-1):
    print(i,end=' ')

5 4 3 2

In [18]:
# print the sum of all multiple of 5 till 55
n = 55
sum = 0
for i in range(n):
    if(i*5):
        sum =sum+i
    i+=5
print(sum)

1485

In [16]:
# print the number of even and odd number from 1 to n
n = 5
for i in range(n,0,-1):
    if(i%2==0):
        if(i%2!=0):
    
        
            print("Even",i)
    else:
        print("Odd",i)

Odd 5
Odd 3
Odd 1

In [5]:
# print the sum of all odd number from  n to 1
n = 20
sum = 0
for i in range(n,0,-1):
    if(i%2!= 0):
        sum = sum+1
    i-=1
    
print(sum)

10

In [1]:
# print traingle

n = int(input())

for i in range(n):
    for j in range(i):
        print('*', end=' ')
    print('\n')

5


*

* *

* * *

* * * *

In [2]:
print(''Hello"")

SyntaxError: invalid syntax (<ipython-input-2-30d245df46dd>, line 1)