This is my first program.

In [1]:
print("Hello")

Hello

In [2]:
print("Hello")

Hello

In [3]:
print('Hello')

Hello

i eat 'rice' and 'fish'

In [5]:
print("i eat 'rice'and 'fish'")

i eat 'rice'and 'fish'

# Variables

In [6]:
a = 5
print(type(a))

<class 'int'>

In [7]:
a = 12.25
print(type(a))

<class 'float'>

In [10]:
a = '5'
print(type(a))

<class 'str'>

In [12]:
a=5
b=10
sum=a+b
print(sum)

15

In [14]:
print("the sum is", sum)

the sum is 15

In [15]:
print('The sum of ',a ,'and', b ,'is', sum)

The sum of  5 and 10 is 15

In [17]:
x = a*b
d = a/b
s = a-b

print(x,d,s)

50 0.5 -5

In [21]:
x = 1.5
x = 3 // 2
print(type(x))
print(x)

<class 'int'>
1

In [20]:
x = 1.5
x = 3 / 2
print(type(x))
print(x)

<class 'float'>
1.5

In [1]:
num_kittens = 0

# you see one kitten
num_kittens += 1

# you see another kitten
num_kittens += 1

# you see two kittens in the corner of the box
num_kittens += 2

print(f'There are {num_kittens} kittens')

There are 4 kittens

In [3]:
a = input()

print(a)
print(type(a))

12
12
<class 'str'>

How to convert string to number

In [4]:
a = int(input())

print(a)
print(type(a))

12
12
<class 'int'>

In [7]:
b = int(input("Enter your age: "))    # user friendly function
print(b)

Enter your age: 22
22

In [8]:
#Multiplication of two number

x = int(input("Enter the value of x:"))

y = int(input("Enter the value of y:"))

mul = x*y

print("The result is",mul)

Enter the value of x:5
Enter the value of y:6
The result is 30

In [10]:
# convert the  above code into function code

def mul_x_and_y():
    x = int(input("Enter the value of x:"))

    y = int(input("Enter the value of y:"))

    mul = x*y
    
    print("The result is",mul)
    print(f'{x} * {y} = {x*y}')
    

mul_x_and_y()

Enter the value of x:5
Enter the value of y:7
The result is 35
5 * 7 = 35

In [11]:
#convert float to int

a = 15.75
b = int(a)
print(b)

15

In [13]:
def get_middle_letter(some_word):
    # first get the length
    length = len(some_word)
    
    print(length)

    return some_word[int(length/ 2)]

print(get_middle_letter('coldseptemberrain'))

17
e

In [14]:
def get_middle_letter(some_word):
    # first get the length
    length = len(some_word)
    
    print(length)

    print(some_word[int(length/ 2)])

get_middle_letter('coldseptemberrain')

17
e

In [3]:
y, l, z, x, p = 54, '43', 27.3, '93.8', 'dog'
print(x)

93.8

In [4]:
x=4
y = 2**2
print(id(x) == id(y))

True

In [5]:
def just_return_x(x):
  return x
just_return_x(10)

10

In [6]:
location = 'Spain'
def find_location(location):
  location = 'France'
  return location
print(find_location(location), location)

France Spain

In [7]:
math=5+5
print(math)

10

In [1]:
# / and % operator

x = 11/3

print(x)

y = 11%3

print(y)

3.6666666666666665
2

In [2]:
x = 1.5
print(type(x))
print(id(x))

x = int(x)
print(id(x))

<class 'float'>
1632930340976
140713332482448

In [3]:
x = 3
y = 3
print(id(x) == id(y))

True

In [4]:
x = 4
y = 3
print(id(x) == id(y))

False

In [5]:
def function():    # no argument no return
    x=5
    print(x)
    
function()

5

In [6]:
def function():    # no argument but return
    x=5
    return(x)
    
print(function())

5

In [7]:
def function(x):   # argument no return
    print(x)
    
function(5)

5

In [8]:
def function(x):    # argument and return
    return(x)
    
print(function(5))

5

In [10]:
def function(x):    # argument and return
    return(x)

y=function(5)

print(y)          # we can assign the function value into a variable and then print the variable and get the same result

5

In [19]:
a=6

def function(x):    # argument and return
    return(x+a)

def new_function(m):
    return(m+a)

y=function(5)
z=new_function(10)

print(y)
print(z)

11
16

In [5]:
def function():
    x=2
    y=3
    print(x,y)
    
function()

2 3

In [9]:
x = int(input())

print(type(x))
print(x)

5
<class 'int'>
5

In [12]:
def equal_enough(float1, float2, difference):
    if abs(float1 - float2) < difference:
        return True
    else:
        return False

print(equal_enough(3.00001, 3.00, .01))
print(equal_enough(7.2,7.0,0.1))
print(equal_enough(150,220,52))

True
False
False

In [1]:
# String

some_str = 'Hi, I am a string'

print(type(some_str))
print(len(some_str))
print(some_str)

<class 'str'>
17
Hi, I am a string

In [2]:
str1 = 'Hello '
str2 = 'You'

full_str = str1 + str2

print(full_str)

Hello You

In [3]:
print(33+51)
print(5.5-3.2)
print(4*6)
print(50.5/7)
print(2**3)

84
2.3
24
7.214285714285714
8

In [4]:
print(True + False)
print(False / True)
print(True ** False)

1
0.0
1

In [5]:
print(bool(True + False))
print(False / True)
print(True ** False)

True
0.0
1

In [1]:
print(8//3)
print(8.0//3)
print(4//5)
print(4.3//5.1)

2
2.0
0
0.0

In [2]:
print(-2//5)
print(-4//3)

-1
-2

In [4]:
result = -9//4

In [5]:
print(-7%3)

2

In [6]:
print(7%-3)

-2

In [8]:
result1 = 3**2 - 1 * 3
print(result1)

result2 = 3 + 5 % 2
print(result2)

6
4

In [9]:
result1 = 1 + 2**2 + 3 * 6 / 4
print(result1)

9.5

In [10]:
result2 = 3 * 5 % 2 - 3
print(result2)

-2

In [11]:
result = 2**2-5%3/2

print(result)

3.0

In [13]:
print(5%3/2)

1.0

and is true when the both side is true

or is true when one side/ both side is true

not always gives the opposit value

5>3 and 3>4 

true and false

false

In [14]:
print(8>3 and 7<2)
print(1==1 and 3>=2)

False
True

In [15]:
print(not 7==2 or 3<1)

True

In [1]:
a=5
b=6

if(a>b):
    print(a, "is greater than", b)
else:
    print(b, "is greater than", a)

6 is greater than 5

In [5]:
some_var = 1

if some_var < 10:
    print("some_var is less than 10")

# checks if some_var is equal to the integer 5
if some_var == 5:
    print("some_var is equal to 5")

# checks if the integer 3 is greater than some_var
if 3 > some_var:
    print("3 is greater than some_var")

some_var is less than 10
3 is greater than some_var

In [8]:
some_var = 10

# This code will fail because the condition is invalid.  Can you tell why?
if some_var == 5:
    print("Nope!")

In [10]:
def is_it_five():
    n=int(input())
    if(n==5):
        return(True)
    else:
        return(None)
        
print(is_it_five())

4
None

In [2]:
# condition

#num = int(input('Enter a number: '))
num = 35



if num > 30: # Block A
    # this code ONLY executes when the condition from **this block (Block A)** is `True`
    print(num * 3)
else: # Block B
    # this code ONLY executes when the condition from **the block directly above (also Block A)** is `False`
    print(num + 90)

105

In [3]:
# take two number and print the large number
num1 = 12
num2 = 14

if(num1>num2):
    print(num1)
else:
    print(num2)

14

In [4]:
# take two number and print the small number
num1 = 12
num2 = 14

if(num1<num2):
    print(num1)
else:
    print(num2)

12

In [5]:
num = int(input('Enter a number: '))

if num == 10: # Block A
    print("`num == 10` resolves to `True`")
elif num > 20 and num < 50: # Block B # the condition in this elif is only considered when the condition is Block A is `False`
    print("`num > 20 and num < 50` resolves to `True`")
elif num == 60: # Block C # this condition is only considered when all prior conditions resolve to `False`
    print("`num == 60` resolves to `True`")
else: # Block D # in ALL other circumstances
    print("all of the prior conditions resolved to `False`")

Enter a number: 25
`num > 20 and num < 50` resolves to `True`

In [6]:
# Home work: result processing
# take a number and determine it's grade

In [9]:
num = 25

if num <= 10:
    num += 11
    print("num:", num)

elif num <= 20: # chaining off of the `if` above
    num += 5
    if num > 20: # this if is nested
        print("num started out as less than or equal to  20 and now num is greater than 20")
    else: # chaining off of the `if` directly above
        print("num is less than equal 20")
else:
    print("num is greater than 20")

num is less than equal 20

In [12]:
def five_or_three(n):
    if(n==5 or n==3):
        return(True)
    else:
        return(False)
        
print(five_or_three(8))

False

In [14]:
def is_old_enough_to_drive(age):
    if(age>=16):
        return(True)
    else:
        return(False)
        
print(is_old_enough_to_drive(11))

False

In [16]:
def special_or(expression1, expression2):
    if (not(expression1 and expression2)==True):
        return(True)
    else:
        return(False)
        
print(special_or(False, False))

True

In [19]:
def is_either_even_or_are_both_7(num1, num2):
    if(num1%2==0 or num2%2==0):
        return(True)
    elif(num1==7 and num2==7):
        return(True)
    else:
        return(False)
    
print(is_either_even_or_are_both_7(4,7))

True

# List

In [1]:
some_list = [3, 2, 9, 18, 34]

print(some_list)

[3, 2, 9, 18, 34]

In [2]:
print(some_list[3])

18

In [3]:
print(some_list[2]+some_list[3])

27

TypeError: 'list' object cannot be interpreted as an integer

In [5]:
my_list = list(range(100))

print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [14]:
start = 1
stop = 100
step = 5

my_list = list(range(start,stop,step))
print(my_list)

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [16]:
list1 = list(range(1,10+1))

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
animal_list = ['cat', 'dog', 'bird', 'horse']

print('the first animal in the list is {}'.format(animal_list[0]))

the first animal in the list is cat

In [19]:
print('The first animal in the list is ', animal_list[2])

The first animal in the list is  bird

In [22]:
animal_list = ['platypus', 'beaver', 'hawk']

print(animal_list)

animal_list[1] = 'dolphin'

print(animal_list)

del animal_list[0]

print(animal_list)

['platypus', 'beaver', 'hawk']
['platypus', 'dolphin', 'hawk']
['dolphin', 'hawk']

In [23]:
list1= [1,2,3,4,5,6]

print(list1)

list1[2] = list1[2]+8

print(list1)

[1, 2, 3, 4, 5, 6]
[1, 2, 11, 4, 5, 6]

In [2]:
first_list = list(range(-100, 1, 10))
second_list = list(range(0, 101, 10))
joined_lists = first_list + second_list + [11]
print(joined_lists)

[-100, -90, -80, -70, -60, -50, -40, -30, -20, -10, 0, 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 11]

In [3]:
your_list = list(range(10)) + list(range(50, 65, 5))

print(your_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 50, 55, 60]

In [5]:
a = 20
n = 40

num_list = list(range(a, n))

print(num_list)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [8]:
print(num_list[0:5])
print(num_list[:5])
print(num_list[10:])

[20, 21, 22, 23, 24]
[20, 21, 22, 23, 24]
[30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [9]:
list1 = num_list[1:9]

print(list1)

[21, 22, 23, 24, 25, 26, 27, 28]

In [11]:
im_starting_to_hate_lists = list(range(10, 20))

# get the last 5 elements
print(im_starting_to_hate_lists[5:])

# works with negative indexing as well
print(im_starting_to_hate_lists[-5:])

[15, 16, 17, 18, 19]
[15, 16, 17, 18, 19]

In [12]:
enough_already = list(range(-100, 101))

In [13]:
print(enough_already)

[-100, -99, -98, -97, -96, -95, -94, -93, -92, -91, -90, -89, -88, -87, -86, -85, -84, -83, -82, -81, -80, -79, -78, -77, -76, -75, -74, -73, -72, -71, -70, -69, -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [18]:
start=-100
stop= 100
x = int((start+stop)/2)
print(x)

0

In [22]:
print(enough_already[99:102])

[-1, 0, 1]

In [23]:
okay_i_get_it=enough_already[99:102]
print(okay_i_get_it)

[-1, 0, 1]

In [26]:
n = len(enough_already)
print(n/2)

100.5

In [27]:
nested_list = [['a', 'b', 'c'], [1, 2, 3]]
print(nested_list[0])

['a', 'b', 'c']

In [28]:
print(nested_list[0][1])

b

In [29]:
print(nested_list[1][2])

3

In [31]:
start = 10
end = 21

num_list = list(range(start, end))

print(num_list)
overall_list = [['a', 'b', 'c'], num_list, [6, 7, 8]]
print(overall_list)

sublist = overall_list[1][2:7]
print(sublist)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[['a', 'b', 'c'], [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], [6, 7, 8]]
[12, 13, 14, 15, 16]

In [36]:
dear_god = [list(range(10, 60, 10)), [list(range(10, 60, 10))]]
print(dear_god)

[[10, 20, 30, 40, 50], [[10, 20, 30, 40, 50]]]

In [4]:
# create a list
some_list = [1, 2, 3, 4, 5]

# show the id() of the list
print(some_list)
print(id(some_list))

# modify the list
some_list.append(3)
some_list.extend(['dog', 'cat', None])

# verify that the id() has not changed
print(some_list)
print(id(some_list))

[1, 2, 3, 4, 5]
2387926386248
[1, 2, 3, 4, 5, 3, 'dog', 'cat', None]
2387926386248

In [5]:
# create two identical lists
list1 = [1, 2, 3, 4, 5]
list2 = [1, 2, 3, 4, 5]

# show the id()s of list1
print(list1)
print(id(list1))

# show the id()s of list2
print(list2)
print(id(list2))

[1, 2, 3, 4, 5]
2387926385160
[1, 2, 3, 4, 5]
2387926385224

In [6]:
# define your function here
def verify_ids(list1,list2):
    if(id(list1)==id(list2)):
        return(True)
    else:
        return(False)
        
list1=[1,2,3,4,5]
list2=[1,2,3,4,5]

print(verify_ids(list1,list2))

False

In [12]:
# define your function here

def modify_third_elem(list1,x):
    list1[2]=x
    return(list1)
    
list1=[5,6,8]
x=3

print(modify_third_elem(list1,x))

[5, 6, 3]

In [13]:
# Create and list and attach it to another name
list_a = ['dog', 'cat', 'frog']
list_b = list_a

# Append a new item to the new list
list_b.append('ferret')

# Note that both variables are affected
print(list_a)
print(list_b)

['dog', 'cat', 'frog', 'ferret']
['dog', 'cat', 'frog', 'ferret']

In [14]:
# use .copy() in order to avoid updating both names
list_c = ['owl', 'dog', 'beaver']
list_d = list_c.copy()

# Append a new item to the new list
list_d.append('dolphin')

# Note that only list_d is affected
print(list_c)
print(list_d)

['owl', 'dog', 'beaver']
['owl', 'dog', 'beaver', 'dolphin']

In [15]:
list_c.append(125)
print(list_c)
print(list_d)

['owl', 'dog', 'beaver', 125]
['owl', 'dog', 'beaver', 'dolphin']

In [16]:
list1 = list_c[2:4]

print(list1)

['beaver', 125]

In [17]:
# define your function here
def return_a_list_copy(list1):
    list2=list1
    return(list2)
    
list1=[1,2,3]

print(return_a_list_copy(list1))

[1, 2, 3]

In [20]:
def modify_third_elem(list1,x):
    list1[2]=x
    return(list1)
    

list1=[2,5,8]
x=3

print(modify_third_elem(list1,x))

[2, 5, 3]

In [21]:
def return_a_list_copy(list1):
    list2=list1.copy()
    return(list2)

list1=[1,2,3,4]

print(return_a_list_copy(list1))

[1, 2, 3, 4]

In [2]:
# define your function here
def list_unpacker(list1):
    a,b,c = list1
    return(a,b,c)
    
list1=[1,2,3]

print(list_unpacker(list1))

(1, 2, 3)

In [3]:
some_list = [1, 3, 5, 7, 9, 11, 13]

# create a sublist of the third and fourth elements
sublist = some_list[2:4]

print(sublist)

[5, 7]

In [4]:
humans_and_animals = ['Brad Pitt', 'seagull', 'Sammy Davis Jr', 'cat', 'Thurston Moore', 'crane']

humans = humans_and_animals[0:len(humans_and_animals):2]
print(humans)

animals = humans_and_animals[1:len(humans_and_animals):2]
print(animals)

['Brad Pitt', 'Sammy Davis Jr', 'Thurston Moore']
['seagull', 'cat', 'crane']

In [5]:
# define your function here
def every_third_from_list(list1):
    newlist=list1[0:len(list1):3]
    return(newlist)
    
list1=[1,2,3,4,5,6,7]

print(every_third_from_list(list1))

[1, 4, 7]

In [7]:
# define your function here
def every_third_from_list(some_list):
    newlist=some_list[2:len(some_list):3]
    return(newlist)
    
some_list = ['ford', 'taurus', '1997', 'chevy', 'malibu', '2003', 'amish', 'buggy', 1857]

print(every_third_from_list(some_list))

['1997', '2003', 1857]

In [10]:


def append_three_elements(list1,a,b,c):
    list1.append(a)
    list1.append(b)
    list1.append(c)
    return(list1)
    
list1=[]
a=10
b=12
c=15
print(append_three_elements(list1,a,b,c))

[10, 12, 15]

In [2]:
def list_unpacker(list1):
    a,b,c=list1
    return(a,b,c)
    

list1=[1,2,3]

print(list_unpacker(list1))

(1, 2, 3)

In [7]:
def every_third_from_list(some_list):

    newlist=some_list[2:len(some_list):3]
    return(newlist)
some_list = ['ford', 'taurus', '1997', 'chevy', 'malibu', '2003', 'amish', 'buggy', 1857]
print(every_third_from_list(some_list))

['1997', '2003', 1857]

In [4]:
def append_three_elements(list1,a,b,c):
    list1.append(a)
    list1.append(b)
    list1.append(c)
    return(list1)

list1=[]
a=5
b=10
c=15
print(append_three_elements(list1,a,b,c))

[5, 10, 15]

In [7]:
list2=[1,2,3]
list3=[4,5]
list4=[6,7]

list2.append(list3)
print(list2)

list2.extend(list4)
print(list2)

[1, 2, 3, [4, 5]]
[1, 2, 3, [4, 5], 6, 7]

In [8]:
# define your function here
def extend_lists(list1,list2,list3):
    list1.extend(list2)
    list1.extend(list3)
    return(list1)
    
list1=[1,2,3]
list2=[4,5]
list3=[6,7,8,9]

print(extend_lists(list1,list2,list3))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
fruit_list = ['apple', 'pear', 'peach', 'mango', 'pear']

fruit_list.remove('pear')
print(fruit_list)

['apple', 'peach', 'mango', 'pear']

In [11]:
del fruit_list[1:3]
print(fruit_list)

['apple']

In [12]:
# define your function here
def remove_if_in_list(list1,x):
    if x in list1:
        list1.remove(x)
        return(list1)
    else:
        return(list1)
        
list1=[1,2,3,4]
x=3

print(remove_if_in_list(list1,x))

[1, 2, 4]

In [13]:

# define your functi
def remove_elem_at_zero(list1):
    del list1[0]
    return(list1)
    
list1=[1,2,3]
print(remove_elem_at_zero(list1))

[2, 3]

In [14]:
list_to_sum = [112, 115, 276, 431]
print(sum(list_to_sum))

934

In [15]:
daily_temps = [61.2, 59.0, 59.4, 58.9, 60.1, 55.3, 55.6]
mean=sum(daily_temps)/len(daily_temps)
print(mean)

58.50000000000001

In [16]:
numbers = [5, 7, 2, 19, 1]
newly_sorted = sorted(numbers)

# newly sorted list
print(newly_sorted)
# original list, not affected
print(numbers)

[1, 2, 5, 7, 19]
[5, 7, 2, 19, 1]

In [19]:
numbers = [5, 7, 2, 19, 1]
newly_sorted = sorted(numbers,reverse=True)

# newly sorted list
print(newly_sorted)
# original list, not affected
print(numbers)

[1, 2, 5, 7, 19]
[5, 7, 2, 19, 1]

In [32]:
num=[2,5,6,7,9]
print(num)

[2, 5, 6, 7, 9]

In [36]:

new=reversed(num)
print(list(new))

TypeError: 'list' object is not callable

In [38]:
numbers = [1, 2, 3, 4]
newly_reversed = reversed(numbers)

# newly reversed iterable
print(newly_reversed)
# newly reversed iterable, cast as a list
newly_reversed=list(newly_reversed)
print(newly_reversed)
# original list, not affected
print(numbers)

<list_reverseiterator object at 0x00000229E400AE88>

TypeError: 'list' object is not callable

In [39]:
lst = [5, 4, 9, 3, 1, 0]
sorted(lst)
print(lst)

[5, 4, 9, 3, 1, 0]

In [40]:
bool_list = [True, False, True, True, False]
print(all(bool_list))

a = 10
n = 20

num_list = list(range(a, n))
print(all(num_list))

num_list[0] = 0
print(all(num_list))

False

TypeError: 'list' object is not callable

In [41]:
str_list = ['a', 'b', 'c', '']
print(any(str_list))

True

In [2]:
numbers = [1, 2, 3, 4]
removed_number = numbers.pop()
numbers.pop()

print(numbers)
print(removed_number)

[1, 2]
4

In [5]:
a = 10
n = 20

num_list = list(range(a, n))

print(num_list)

num_list.reverse()
print(num_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

In [6]:
nums_list = [9, 7, 8, 3, 5, 1, 2]
reversed(list(nums_list))
print(nums_list)
nums_list.reverse()
print(nums_list)

[9, 7, 8, 3, 5, 1, 2]
[2, 1, 5, 3, 8, 7, 9]

In [11]:
# leave these two lines alone
x = [10, 9, 8, 7, 6, 5]
y = list(range(5, 11))

# replace `pass` with the necessary logic
def sort_and_test(list_1, list_2):
    '''
    Tests whether the sorted version of one list is equal to another list.

    Parameters:
    ----------
    list_1 : (list)
        A list to be sorted.
    list_2 : (list)
        The list to be compared.

    Returns
    ----------
    Bool : (True or False)
    
    '''
    list_1.sort(Reverse)
    if(list_1==list_2):
        return(True)
    else:
        return(False)


# leave this line alone
result = sort_and_test(x, y)
print(result)

TypeError: sort() takes no positional arguments

In [12]:
nums_list = [1, 5, 6, 7, 7, 3, 4, 1, 2]
print(nums_list.count(7))
print(nums_list.count(5))

2
1

In [16]:
def here_we_go(list_1):
    '''
    Takes in a list, tosses it around a bit, and returns some outputs of some cool list operations.

    Parameters:
    ----------
    list_1 : (list)
        A list

    Returns
    ----------

        1. The sorted version of the `list`.
        2. The reversed version of the `list`.
        3. The last element of the reversed `list` (without removing it from the `list`).
        4. The number of times that the number 22 occurs in the `list`.

    '''
    list2=[]
    sorted_copy=sorted(list_1)
    list2.append(sorted_copy)
    reversed_copy=reversed(list_1)
    list2.append(reversed_copy)
    l=len(list_1)
    last_element=list_1[l-1]
    list2.append(last_element)
    count_22=list_1.count(22)
    list2.append(count_22)
    return(list2)

# use x as the input to your function
x = [22, 23, 4, 1, 22, 4, 6, 22, 2, 7, 88, 22]

# call (and unpack) your function her
sorted_copy,reversed_copy,last_element,count_22=here_we_go(x)
print(sorted_copy,reversed_copy,last_element,count_22)

[1, 2, 4, 4, 6, 7, 22, 22, 22, 22, 23, 88] <list_reverseiterator object at 0x000001FDCE410788> 22 4

In [17]:
original_list = [1, 3, 5, 7, 9]
new_list = original_list[:]
original_list.pop()
print(new_list)

[1, 3, 5, 7, 9]

In [19]:
for i in range(1, 11,2):
  print(i)

1
3
5
7
9

In [20]:
x = list(range(100))
for i in x:
    print(i ** 2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

In [1]:
nums = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in nums:
  for j in i:
    print(j)

1
2
3
4
5
6
7
8
9

In [2]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

for i in list1:
  for j in list2:
    print(i, j)

1 4
1 5
1 6
2 4
2 5
2 6
3 4
3 5
3 6

In [3]:
total = 0
for i in range(10):
    total += i

print(total)

45

In [4]:
def accumulate(list_1):
    '''
    Returns an object that is the accumlated result of list_1.

    Parameters:
    ----------
    list_1 : (list)
        A list of strings.

    Returns:
    ----------
        The accumulated version of the elements in the list.
    '''
    phrase = ''
    for letter in list_1:
        phrase = phrase + letter
    return(phrase)


# leave these lines alone
x = ['python',' ','is',' ','cool', '.']
result = accumulate(x)
print(result)

python is cool.

In [5]:
def num(x):
    objects=''
    for i in x:
        objects=objects+i
        
    return(objects)

list1=['i',' ','am',' ','student']

#result = num(list1)
print(num(list1))

i am student

In [14]:
nums = [1, 2, 3, 4, 5]

sum = 0
for num in nums:
  sum = sum + num

print(sum)

15

In [7]:
a=5
b=6
c=a+b
print(c)

11

In [12]:
mixed = [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5]

sum = ''
for val in mixed:
  if isinstance(val, str):
    sum = sum + val

print(sum)

abcd

In [16]:
list = [23, 42, 86, 92, 93, 94,45]

has_value_over_90 = False
for val in list:
  if val > 90:
    has_value_over_90 = True

print(has_value_over_90)

True

In [17]:
exit_condition = True
x3 = 1.

for i in range(1,20):
    x3 *= i
    print(x3)

    if x3 > 10000:
        exit_condition = False

    if exit_condition == False:
        break # exit current loop level

print(x3)

1.0
2.0
6.0
24.0
120.0
720.0
5040.0
40320.0
40320.0

In [22]:
your_list = range(-10, 5)
my_list = range(15)

if len(your_list) == len(my_list):

    gt_zero = False

    for i in range(len(my_list)):

        total = your_list[i] * my_list[i]

        if total > 0:
            gt_zero = True

        if gt_zero:
            print(i)
            break

11

In [23]:
lst = [1, 2, 3, 4, 5, 6]

accumulator_list = []
for idx,val in enumerate(lst):
  if idx % 2 == 1:
    accumulator_list.append(val)

print(accumulator_list)

[2, 4, 6]

In [24]:
accum = []

for i in range(30, 60):
    if i % 3 == 0:
        accum.append(i)

print(accum)

[30, 33, 36, 39, 42, 45, 48, 51, 54, 57]

In [31]:
# put your code here
evens = [*range(0,1001,2)]
odds = [*range(1,1001,2)]

print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998, 1000]

In [35]:
# put your code here
num_accum=[]
idx_accum=[]
lst=[*range(100,501)]
for idx,val in enumerate(lst):
    if val%15==0:
        num_accum.append(val)
        idx_accum.append(idx)
        
print(num_accum)

[105, 120, 135, 150, 165, 180, 195, 210, 225, 240, 255, 270, 285, 300, 315, 330, 345, 360, 375, 390, 405, 420, 435, 450, 465, 480, 495]

In [4]:
def find_intersection(list1, list2):
    '''
    Returns the intersection of the two input lists.

    Parameters:
    ----------
    list1 : (list)
    list2 : (list)

    Returns:
    ----------
    A list that contains the elements that are in both lists.
    '''
    
    list3=[]
    for i in list1:
        for j in list2:
            if(i==j):
                list3.append(i)
    return(list3)
        
list1=[1,2,3,4,5,6]
list2=[2,3,6,7,9,1]

print(find_intersection(list1,list2))

[1, 2, 3, 6]

In [5]:
mixed_list = ['word', [1,2,3,4,5], 43, 90.0]
unpacked_list = []

for item in mixed_list:

    if type(item) == list:
        for nested in item:
            unpacked_list.append(nested)
    else:
        unpacked_list.append(item)

print(unpacked_list)

['word', 1, 2, 3, 4, 5, 43, 90.0]

In [6]:
list_of_names   = ['bob', 'tom', 'don', 'larry']
list_of_heights = [  72 ,  68  ,  63  ,   76   ]
how_many_cats   = [   3 ,   1  ,   2  ,   23   ]

for i, name in enumerate(list_of_names):
    print(name, list_of_heights[i])
    print(how_many_cats[i])

bob 72
3
tom 68
1
don 63
2
larry 76
23

In [7]:
for i in range(20):
    if i >= 10:
        continue
    else:
        print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
def find_prime(list1):
    '''
    Finds all prime numbers within an input list and returns those primes
    another list.

    Parameters:
    ----------
    list1 : (list)
        A list of integers.

    Returns:
    ----------
    List of  all primes in list1 (if no primes are found, return the string
    "No prime found.")
    '''
    list_prime=[]
    prime = True

    for some_int in list1:
        prime = True
        if some_int == 1:
            return False
        elif some_int == 2:
            return True
            list_prime.append(some_int)
        else:
            for num in range(2, some_int):
                if some_int % num == 0:
                    prime = False
                    break
                if prime==True:
                    list_prime.append(some_int)
    return(list_prime)

list1=[1,2,3,4,5,6,7,8,955,1,2,3]
print(find_prime(list1))

False

In [1]:
i = 0
print(nums[i])
i +=1
print(nums[i])
i +=1
print(nums[i])
i +=1
print(nums[i])
i +=1
print(nums[i])
i +=1
print(nums[i])
i +=1
print(nums[i])
i +=1
print(nums[i])
i +=1
print(nums[i])
i +=1
print(nums[i])

NameError: name 'nums' is not defined

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
number_list = [1, 3, 5, 7, 9]
for i in number_list:
  print(i+1)

2
4
6
8
10

In [5]:
x = list(range(100))
for i in x:
    print(i ** 2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

In [6]:
nums = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in nums:
  for j in i:
    print(j)

1
2
3
4
5
6
7
8
9

In [2]:
# this for loop will exit after 50
for num in range(100):
    print(num)

    if num == 5:
        break

0
1
2
3
4
5

In [3]:
# this for loop will exit after 50
for num in range(100):

    if num == 5:
        break
    print(num)

0
1
2
3
4

In [4]:
not_squares = []

def is_square(num):
    for i in range(2,num):
        if i**2 == num:
            return True
        if i**2 > num:
            break

    return False


for i in range(2, 101):
    if is_square(i) == True:
        continue
    not_squares.append(i)

print(not_squares)

[2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [9]:
num=5
for i in range(num):
    print(i)
    if i==3:
        continue

0
1
2
3
4

In [10]:
num=5
for i in range(num):
   
    if i==3:
        continue
    print(i)

0
1
2
4

In [12]:
def grow_up():
    pass

def get_enough_sleep():
    pass

def do_the_dishes():
    pass

for i in range(20):
    # this will do nothing
    pass

if 'dog' == 'dog':
    pass
else:
    print('this will never execute')

In [13]:
# define a counter
loops = 0

# notice that setting x to 2 will allow entrance into the while
x = 2

# put the counter in the `while` to avoid an infinite loop
while x < 3:
    print(x)

    # this condition will ensure that the while exits
    if loops > 20:
        break

    # make sure to increment the loops variable
    loops += 1

2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2

In [16]:
def get_menu_item():
    menu = '''Choose an item:
              (1) broccoli
              (2) carrots
              (3) cabbage
              choice:  '''

    choice = int(input(menu))
    items = ['broccoli', 'carrots', 'cabbage']
    return items[choice-1]

orders = []

cont = 'y'
while cont == 'y':
    orders.append(get_menu_item())

    # order_max -= 1
    cont = input('order more? ')

print(orders)

Choose an item:
              (1) broccoli
              (2) carrots
              (3) cabbage
              choice:  2
order more? y
Choose an item:
              (1) broccoli
              (2) carrots
              (3) cabbage
              choice:  3
order more? y
Choose an item:
              (1) broccoli
              (2) carrots
              (3) cabbage
              choice:  3
order more? n
['carrots', 'cabbage', 'cabbage']

In [ ]:
# write your code here
total = 0
x = 0

while x<=100:
    if(x%10==0):
        continue
    total+=x
    x=x+1
    
print(total)

In [ ]:
# write your code here
total = 0
x = 100

while x>=0:
    if(x%10==0):
        continue
    total+=x
    x-=1
    
print(total)

In [5]:
def find_prime(list1):
    '''
    Finds all prime numbers within an input list and returns those primes
    another list.

    Parameters:
    ----------
    list1 : (list)
        A list of integers.

    Returns:
    ----------
    List of  all primes in list1 (if no primes are found, return the string
    "No prime found.")
    '''
    pass

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 27)

In [1]:
def is_prime(some_int):
    prime = True

    if some_int == 1:
        return False
    elif some_int == 2:
        return True
    else:
        for num in range(2, some_int):
            if some_int % num == 0:
                prime = False
                break

    return prime

print(is_prime(12))

False

11,   2,3,4,5,6,7,8,9,10

12,   2,3,4,5,6,7,8,9,10,11

In [14]:
def find_prime(list1):
    '''
    Finds all prime numbers within an input list and returns those primes
    another list.

    Parameters:
    ----------
    list1 : (list)
        A list of integers.

    Returns:
    ----------
    List of  all primes in list1 (if no primes are found, return the string
    "No prime found.")
    '''
    
    list_prime=[]
    

    for some_int in list1:
        prime = True
    
        if some_int==1:
            prime=False
            
        elif some_int == 2:
            
            list_prime.append(some_int)
        else:
            for num in range(2, some_int):
                if some_int % num == 0:
                    prime = False
                    break
                else:
                    list_prime.append(some_int)
                    break
    if(len(list_prime)==0):
        return("No prime found.")
    else:
        return(list_prime)

list1=[2, 3, 5, 5, 5, 7, 7, 7, 7, 7]
print(find_prime(list1))

[2, 3, 5, 5, 5, 7, 7, 7, 7, 7]

In [15]:
def get_menu_item():
    menu = '''Choose an item:
              (1) broccoli
              (2) carrots
              (3) cabbage
              choice:  '''

    choice = int(input(menu))
    items = ['broccoli', 'carrots', 'cabbage']
    return items[choice-1]

orders = []

cont = 'y'
while cont == 'y':
    orders.append(get_menu_item())

    # order_max -= 1
    cont = input('order more? ')

print(orders)

Choose an item:
              (1) broccoli
              (2) carrots
              (3) cabbage
              choice:  3
order more? y
Choose an item:
              (1) broccoli
              (2) carrots
              (3) cabbage
              choice:  1
order more? n
['cabbage', 'broccoli']

In [ ]:
# write your code here
total = 0
x = 100

while x>=0:
    if(x%10==0):
        total=total
    else:
        total+=x
        x-=1
    
print(total)

In [ ]:
# write your code here
def wondrous_test(n):
    '''
    If n is odd, triple it and add one. If n is even, take half of it. Repeat
    this process until the number 1 is reached. Return a list of all numbers
    that were iterated through.

    Parameters:
    ----------
    n : (int)
        A positive integer.

    Returns:
    ----------
    (list) of integers
    '''
    list1=[]
    
    while(n>=1):
        if(n%2==0):
            list1.append(n/2)
        else:
            list1.append((n*n*n)+1)
            
    return(list1)
    
print(wondrous_test(3))

In [1]:
selections = []
another_order = True

while another_order == True:
    menu_string = '''Select from this list:
    1 : bread
    2 : butter
    3 : potatoes
    4 : broccoli'''

    print(menu_string)

    inp = int(input('please make a selection, 1-4: '))

    if inp in [1,2,3,4]:
        selections.append(inp)
    else:
        print('-- your selection was not understood --')
        continue

    inp2 = input('would you like to place another order? (y/n)')

    if inp2 == 'y':
        continue
    else:
        another_order = False


print(f'Your order list: {selections}')

Select from this list:
    1 : bread
    2 : butter
    3 : potatoes
    4 : broccoli
please make a selection, 1-4: 2
would you like to place another order? (y/n)y
Select from this list:
    1 : bread
    2 : butter
    3 : potatoes
    4 : broccoli
please make a selection, 1-4: 6
-- your selection was not understood --
Select from this list:
    1 : bread
    2 : butter
    3 : potatoes
    4 : broccoli
please make a selection, 1-4: 1
would you like to place another order? (y/n)n
Your order list: [2, 1]

In [2]:
movie_title = "Joker"
for letter in movie_title:
    print(letter)

J
o
k
e
r

In [5]:
x = 'I don\'t want to use double quotes.'
y = "I don't want to use double quotes."
print(x,y)

I don't want to use double quotes. I don't want to use double quotes.

In [6]:
print("2+2=5")

2+2=5

In [8]:
num_bags = 3
first_statement = 'There are '
second_statement = ' bags of chips'

print(first_statement + str(num_bags) + second_statement)

There are 3 bags of chips

In [10]:
print(int(True))

NameError: name 'Trues' is not defined

In [11]:
print(str(3) + int(True))
print(3 + int(123) + str(True))
print(int('0') + 'should work' * 3)
print('this one shoulnd't be too hard')

SyntaxError: invalid syntax (<ipython-input-11-6f1750677980>, line 4)

In [3]:
x = ['This','just','might','work.']
sentence = ('-'.join(x))
print(sentence)

This-just-might-work.

In [5]:
string = 'Test String'
print(string[1:3])
print(string[-6:-1])
print(string[1:])
print(string[:-1])
print(string[::3])
print(string[2:10:2])
print(string[::-1])
#print(string[2:10:-2]

es
Strin
est String
Test Strin
Tttn
s ti
gnirtS tseT

In [6]:
name = "your favorite actors name"
# put your code here
other_name= name[-11:-5]
print(other_name)

actors

In [8]:
name = "your favorite actors name"
# put your code here
other_name= name[14:21]
print(other_name)

actors

Bangladesh
Bangla
gla
agl

In [9]:
test_string = 'Count me'
for idx, char in enumerate(test_string):
  print(idx, char)

0 C
1 o
2 u
3 n
4 t
5
6 m
7 e

In [13]:
sentence_list = []
sentence = "I wonder how this will work."

# place your code below
for idx,x in enumerate(sentence):
    #print(idx,x)

SyntaxError: unexpected EOF while parsing (<ipython-input-13-6c15cf9c04b5>, line 6)

In [12]:
import re

mystr = 'This is a string, with words.'
wordList = re.sub("[^\w]", " ",  mystr).split()
print(wordList)

['This', 'is', 'a', 'string', 'with', 'words']

In [2]:
import re
sentence_list = []
sentence = "I wonder how this will work."


sentence_list = re.sub("[^\w]", " ",  sentence).split()
s=sentence_list[5]+'.'
sentence_list[5]=s
print(sentence_list)

['I', 'wonder', 'how', 'this', 'will', 'work.']

In [3]:
import re
sentence_list = []
sentence = "I wonder how this will work."


sentence_list = re.sub("[^\w]", " ",  sentence).split()
sentence_list[5]=sentence_list[5]+'.'

print(sentence_list)

['I', 'wonder', 'how', 'this', 'will', 'work.']

In [4]:
def compute_area_of_a_triangle(base, height):
    area = .5*base*height
    return(area)
    
print(compute_area_of_a_triangle(5,6))

15.0

In [5]:
string = 'french fries'
print(list(string))
string = '0123456789'
print(list(string))

['f', 'r', 'e', 'n', 'c', 'h', ' ', 'f', 'r', 'i', 'e', 's']
['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [6]:
old_string = 'this is a string'
output = old_string.split()
print(output)

['this', 'is', 'a', 'string']

In [7]:
comma_sep_nums = '1, 2, 3, 4, 5'
output = comma_sep_nums.split(', ')
print(output)

['1', '2', '3', '4', '5']

In [9]:
comma_sep_nums = '1, 2, 3, 4, 5'
output = comma_sep_nums.split(', ', maxsplit=2)
print(output)

['1', '2', '3, 4, 5']

In [10]:
# leave this line alone
x = "I wonder how this will work."


your_list = x.split(' ')
print(your_list)

['I', 'wonder', 'how', 'this', 'will', 'work.']

In [12]:
# leave this line alone
w = 'ThIs Is PrEtTy HaRd To ReAd.'


x=w.upper()
y=w.lower()
z=w.capitalize()
print(x,y,z)

THIS IS PRETTY HARD TO READ. this is pretty hard to read. This is pretty hard to read.

In [21]:
string = 'a man is one u eionand'
string = string.replace('a','')
string = string.replace('A','')
string = string.replace('e','')
string = string.replace('E','')
string = string.replace('i','')
string = string.replace('I','')
string = string.replace('o','')
string = string.replace('O','')
string = string.replace('u','')
string = string.replace('U','')
print(string)

 mn s n  nnd

In [23]:
age = 28
age_str = 'They are {} years old.'.format(age)
print(age_str)

They are 28 years old.

In [24]:
x = 1
y = 3
new_string = 'The result of {} plus {} is {}'.format(x, y, x + y)
print(new_string)

The result of 1 plus 3 is 4

In [25]:
def insert_x_and_y(x, y):
  '''
  Returns the string 'My favorite numbers are 1 and 2.' if x, y = 1, 2.

  Parameters:
  ----------
  x : (int)
  y : (int)

  Returns:
  ----------
  A string that dynamically inserts the variables x and y
  '''
 
  new_string = f'My favourite numbers are {x} and {y}'
  return(new_string)
  
print(insert_x_and_y(1,2))

My favourite numbers are 1 and 2

In [3]:
a_tuple = (1, 2, 3)
another_tuple = ('a', 'b', 'c')
a_third_tuple = (1, 'a', [3, 4, 5])
a_tuple_of_tuples = ((2, 3), (5, 6), ('so', 'many', 'tuples'))

In [1]:
one_element_tup = (4)
print(type(one_element_tup))

one_element_tup = (4,)
new_one_element_tup = 'a',
other_one_element_tup = tuple([0.8])

print(one_element_tup, new_one_element_tup, other_one_element_tup)

<class 'int'>
(4,) ('a',) (0.8,)

In [3]:
tuple_1 = ('a', 'c', 'e')
tuple_2 = ('b', 'd', 'f')
print((tuple_1))

tuple_1 += tuple_2
print((tuple_1))

('a', 'c', 'e')
('a', 'c', 'e', 'b', 'd', 'f')

In [7]:
ex_tuple = (['a', 'b', 'c'],)
ex_tuple[0].append('d')  # we can insert value in a list inside a tuple but we can not directly insert element in tuple
print(ex_tuple)

(['a', 'b', 'c', 'd'],)

In [18]:
def insert_at_index_2(tup, x):
  '''
  Returns a new tuple where x is inserted into the original tuple at index 2.

  Parameters:
  ----------
  tup: (tuple)
  x: (int)

  Returns:
  ----------
  A new tuple with x inserted at index 2.
  '''
    list1=list(tup)
    list1.append(x)
    tup1=tuple(list1)
    return(tup1)
    

tup=(1,2,3)
x=[1,2,3,4]

print(insert_at_index_2(tup,x))

IndentationError: unexpected indent (<ipython-input-18-427766e71967>, line 14)

In [20]:
def insert_at_index_2(tup, x):
    list1=list(tup)
    list1.append(x)
    tup1=tuple(list1)
    return(tup1)
tup=(1,2)
x=[1,2,3,4]

print(insert_at_index_2(tup,x))

(1, 2, [1, 2, 3, 4])

In [3]:
# this is correct...
def your_function_name(a, b, c):
    return "A + B + C"

# this is also correct...
def your_function_name(a, b, c):
    x = "A + B + C"
    return x

# this is CORRECT
def your_function_name(a, b, c):
    return print("A + B + C")

# this is also INCORRECT...
def your_function_name(a, b, c):
    x = "A + B + C"
    return print(x)

your_function_name(1,2,3)

A + B + C

In [1]:
field = [Name,Address,Phn]
Value = [Moon, Dhaka,01762775529]

SyntaxError: invalid token (<ipython-input-1-16a32fc7014d>, line 2)

In [2]:
item1, price1 = 'salt', 2.31
item2, price2 = 'butter', 3.23
item3, price3 = 'flour', 5.67
item4, price4 = 'baking soda', 3.20
item5, price5 = 'sugar', 3.50

baking_dict = {
               item1: price1,
               item2: price2,
               item3: price3,
               item4: price4,
               item5: price5,
      }

print(baking_dict)

{'salt': 2.31, 'butter': 3.23, 'flour': 5.67, 'baking soda': 3.2, 'sugar': 3.5}

In [3]:
# put your code below
def return_dict_of_vals(tup1, tup2, tup3, tup4):
    '''
    Packs 4 tuples into a dictionary.

    Parameters:
    ----------
    tup1: Tuple
        length 2 tuple, the first element will be the key, the second element will be the value
    
    tup2 ... tup4
    
    Return:
    ----------
    A dictionary 
    '''
    dict = {
               tup1[0]: tup1[1],
               tup2[0]: tup2[1],
               tup3[0]: tup3[1],
               tup4[0]: tup4[1]
      }
    return(dict)
    
tup1=(1,2)
tup2=(2,5)
tup3=(3,10)
tup4=(5,44)

print(return_dict_of_vals(tup1, tup2, tup3, tup4))

{1: 2, 2: 5, 3: 10, 5: 44}

In [8]:
some_dict = dict()

some_dict['new item'] = 1

print(some_dict)

some_dict['another item'] = 2

print(some_dict)

some_dict['Name']='Moon'
print(some_dict)

some_dict['Name']='Moo'
print(some_dict)

{'new item': 1}
{'new item': 1, 'another item': 2}
{'new item': 1, 'another item': 2, 'Name': 'Moon'}
{'new item': 1, 'another item': 2, 'Name': 'Moo'}

In [9]:
# put your code below
def add_val_to_dict(d, tup):
    '''
    Adds a key, value pair to a dictionary copy and returns that copy

    Parameters:
    ----------
    d: Dictionary
        A dictionary passed into the function
    
    tup: Tuple
        A key/value pair to be added to the dictionary
    
    Return:
    ----------
    A dictionary 
    '''
    d1 = d.copy()
    d1[tup[0]]=tup[1]
    
    return(d1)
    
d={1:5,"Name":"Borna"}
tup=(3,5)

print(add_val_to_dict(d, tup))

{1: 5, 'Name': 'Borna', 3: 5}

In [4]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
d = {}

# the second argument to enumerate starts counting i at 1
for i, letter in enumerate(alphabet, 1):
    d[i] = letter

# find the 13th letter
thirteenth = d[26]

print(thirteenth)

z

In [5]:
d = {'dog':'cat', 'frog':'gnat'}

# this will error
print(d['snake'])

KeyError: 'snake'

In [7]:
# put your code below

def check_dict(d,k):
    if k in d:
        return(d[k])
    else:
        return( "That key isn't in the dictionary.")
        
d={1:5,2:15,6:"moon"}
k=3

print(check_dict(d,k))

That key isn't in the dictionary.

In [ ]:
fruit_dict = {'apple': 20, 'peach':15, 'pineapple':3}

tup_list = fruit_dict.items()

print(tup_list)

In [8]:
fruit_dict = {'apple': 20, 'peach':15, 'pineapple':3}

keys_list = fruit_dict.keys()
print(keys_list)

values_list = fruit_dict.values()
print(values_list)

dict_keys(['apple', 'peach', 'pineapple'])
dict_values([20, 15, 3])

In [9]:
d = {1: {1: {1: 1}},
     2: {4: {8: 16}},
     3: {9: {27: 81}},
     4: {16: {64: 256}},
     5: {25: {125: 625}},
     6: {36: {216: 1296}},
     7: {49: {343: 2401}},
     8: {64: {512: 4096}},
     9: {81: {729: 6561}}}

for value in d.values():
    print(value.values())

dict_values([{1: 1}])
dict_values([{8: 16}])
dict_values([{27: 81}])
dict_values([{64: 256}])
dict_values([{125: 625}])
dict_values([{216: 1296}])
dict_values([{343: 2401}])
dict_values([{512: 4096}])
dict_values([{729: 6561}])

In [14]:
fruit_dict = {'apple': 20, 'peach':15, 'pineapple':3}

# # can extract the items into a list
# #   note that the list() casting here is not necessary
# fruit_tup_list = sorted(list(fruit_dict.items()))

# for fruit in fruit_tup_list:
#     print(fruit[0], fruit[1])

for k, v in sorted(fruit_dict.items()): 
    print(k,v)

for key in fruit_dict: # note the .key() method is implied
    print(key, fruit_dict[key])

apple 20
peach 15
pineapple 3
apple 20
peach 15
pineapple 3

In [15]:
def return_dict_of_tuples(list_of_tups):
    d = {}

    for tup in list_of_tups:
        d[tup[0]] = tup[1]

    return d


list_of_tups = [('ford', 20),
('chevy', 30), ('toyota', 40), ('volkswagen', 50)]

print(return_dict_of_tuples(list_of_tups))

{'ford': 20, 'chevy': 30, 'toyota': 40, 'volkswagen': 50}

In [19]:
# put your code here
def reverse_dict(d):
    d1={}
    for k in d:
        d1[d[k]] = k
        
    return(d1)
    
d={1:2,2:10,3:20}

print(reverse_dict(d))

{2: 1, 10: 2, 20: 3}

In [20]:
d = {'some_key': 'some value', 
     'some_other_key': 'some other value',
     'a_third_key': 'some third value' }

if 'some_key' in d:
    popped_val = d.pop('some_key')
print(popped_val)

del d['some_other_key']
print(d)

some value
{'a_third_key': 'some third value'}

In [21]:
d = {1: 'one', 2: 'two'}

print(id(d))
d2 = d.copy()
print(id(d2))

1688243141592
1688243142152

In [22]:
y={}
x = {1}
print(type(y))
print(type(x))

<class 'dict'>
<class 'set'>

In [23]:
# casting string to set
x = 'string'
print(set(x))

# casting list to set
y = [1,2,3]
print(set(y))

# casting tuple to set
z = (1,2,3)
print(set(z))

{'r', 'i', 'n', 'g', 's', 't'}
{1, 2, 3}
{1, 2, 3}

In [25]:
x = {1,2,3,1,2,3,1,2,3}
print(x)

{1, 2, 3}

In [26]:
# leave these lines alone
x = [1, 3, 1, 1, 2, 2, 1, 3, 3, 1, 3, 1, 3, 3, 3, 1, 3, 3, 3, 1]

# put your code below
list1=[]
tup=()
for i in x:
    if i in list1:
        continue
    elif i not in list1:
        list1.append(i)

# instead, simply do...
tup=tuple(list1)

print(tup)

(1, 3, 2)

In [29]:
# leave these lines alone
x = [1, 3, 1, 1, 2, 2, 1, 3, 3, 1, 3, 1, 3, 3, 3, 1, 3, 3, 3, 1]

# put your code below
list1=[]
#y=()
for i in x:
    if i in list1:
        continue
    elif i not in list1:
        list1.append(i)
list1.sort()

# instead, simply do...
y=tuple(list1)

print(y)

(1, 2, 3)

In [1]:
x = {1,2,3}
sum=0
for i in x:
    sum+=i
    
print(sum)

6

In [2]:
# leave these lines alone
x = {i for i in range(10)}
y = {i for i in range(5, 11)}
z = {i for i in range(10, 20)}

# put your code below
b=x.union(y)

a=z.intersection(b)

print(a)

{10}

In [3]:
# leave these lines alone
x = {i for i in range(10)}
y = {i for i in range(5, 11)}
z = {i for i in range(10, 20)}

# put your code below
a=z.intersection(x.union(y))

print(a)

{10}

In [ ]:
a={1,2,3,4,5}
b={3,5,7}

a-b = {1,2,4}
b-a={7}

In [ ]:
a = {0,1,1,2,3,5,8}
b = {3,5,8,13,21,34}

a-b={0,1,2}.union(b)
LHS={0,1,2,3,5,8,13,21,34}

b-a={13,21,34}.union(a)
RHS={0.1.2.3.5.8.13.21.34}

In [5]:
# put your code here

def set_accumulator(n):
    set1={0}
   
    for i in range(1,n):
        if i%2==0:
            set1.add(i)
            
    return(set1)
    
print(set_accumulator(9))

{0, 2, 4, 6, 8}

In [7]:
import math
a = math.sqrt(9)

print(a)

3.0

In [8]:
import math
print(math.factorial(4))  # factorial n means product of all number from 1 to n

24

In [ ]:
l=[1,2,3]
sum=1+4+9=14

In [9]:
# write import statement below
import math

def euc_norm(list1, list2):
  '''
  Calculates the euclidean norm of two lists of equal length.

  Parameters:
  ----------
  list1: (list)
  list2: (list)

  Returns:
  ----------
  Returns a float representing the euclidean norm
  
  '''
  s1=0
  s2=0
  
  for i in list1:
      s1+=i*i
      
  for j in list2:
      s2+=j*j
      
  n1 = math.sqrt(s1)
  n2 = math.sqrt(s2)
  
  return(n1,n2)

list1=[1,2,3,4,5]
list2=[2,4,5,7,8]

print(euc_norm(list1, list2))

(7.416198487095663, 12.569805089976535)

In [11]:
# write import statement below
import math

def euc_norm(list1, list2):
  '''
  Calculates the euclidean norm of two lists of equal length.

  Parameters:
  ----------
  list1: (list)
  list2: (list)

  Returns:
  ----------
  Returns a float representing the euclidean norm
  
  '''
  s1=0
  
  for i in range(len(list1)):
      s1+= (list1[i]-list2[i])*(list1[i]-list2[i])
      
  
      
  n1 = math.sqrt(s1)
  
  
  return(n1)

list1=[1,2,3,4,5]
list2=[2,4,5,7,8]

print(euc_norm(list1, list2))

5.196152422706632

In [ ]:
(1,2,3) = (123)(213)(231)(312)(321)(132)()

n = factorial(n)

In [5]:
# write import statement below
import math

def combinations(n, k):
  '''
  Returns the number of ways you can choose k items out of n if order does not matter

  Parameters:
  ----------
  n: (int)
  k: (int)

  Returns:
  ----------
  Returns the number of combinations of k items out of n.
  '''
  m = math.factorial(n) / (math.factorial(k)*math.factorial(n-k))
    
  return(m)

print(combinations(5,3))

10.0

In [4]:
import math
x=math.factorial(5)

print(x)

120

In [11]:
import random
print(random.random())  # Generate a random number between 0 to 1

0.08602501583421374

In [18]:
import random
char_list = ['rock', 'paper', 'scissors']
print(random.choice(char_list))   # choice a list element randomly

rock

In [21]:
import random
print(random.randint(1, 10))   # generate a random number between two given number

3

In [26]:
from collections import Counter
sentence = 'The quick brown fox jumps over the lazy dog.'
ch_counts = Counter(sentence)
word_counts = Counter(sentence.split())
print(ch_counts,word_counts)

Counter({' ': 8, 'o': 4, 'e': 3, 'h': 2, 'u': 2, 'r': 2, 'T': 1, 'q': 1, 'i': 1, 'c': 1, 'k': 1, 'b': 1, 'w': 1, 'n': 1, 'f': 1, 'x': 1, 'j': 1, 'm': 1, 'p': 1, 's': 1, 'v': 1, 't': 1, 'l': 1, 'a': 1, 'z': 1, 'y': 1, 'd': 1, 'g': 1, '.': 1}) Counter({'The': 1, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'the': 1, 'lazy': 1, 'dog.': 1})